html, body {
  margin: 0;
  height: 100%;
  font-family: 'Mina', sans-serif;
  background-color: rgba(245, 98, 94, 0);
}

#section-wipes {
  height: 100%;
  width: 100%;
  background-image: none;
}

#pinContainer {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.panel {
  height: 100%;
  width: 100%;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.panel1 {
  background: #F0F0F0;
}

.panel2 {
  background: #E1E1E1;
}

.panel3 {
  background: #D2D2D2;
}

.panel4 {
  background: #C3C3C3;
}
